# Node/TypeScript
node_modules/
dist/
build/
coverage/
.temp/
.temp/**
.cache/
.next/
out/
.vite/
.vscode/
.DS_Store
.env
.env.*
*.log
*.tsbuildinfo

# pnpm/yarn/npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
Thumbs.db

